<!-- views/edit-tweet.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/site.css">
  </head>
  <body>
    <header></header>
    <main>
  		<%- include('_tweet', { tweet: tweet }); %>
  		<form id="tweet-form" action="/tweets/<%= tweet.id %>/update" method="POST">
  			<input id="tweet-form-handle" type="text" name="handle" placeholder="MurgioMurmani" value="<%= tweet.handle %>">
  			<textarea id="tweet-form-body" name="body" placeholder="What's happening?"><%= tweet.body %></textarea>
  			<button id="tweet-form-button">Update Tweet</button>
  			<button id="tweet-form-delete-button" name="delete_button" onclick="return confirm('Are you sure you want to delete the tweet?')">Delete Tweet</button>
		</form>
	</main>
  </body>
</html>